/* General */
* {
    font-family: 'Karla', sans-serif;
}

/* To Do List */
.todos-list {
    background: #f2f2f2;
    box-shadow: 0 8px 6px -6px black;
}

/* Completed Task */

.text.completed {
    text-decoration: line-through;
}

/* Text */

.to-do .text {
    cursor: pointer;

}

/* Delete Task on Click */

.to-do .delete {
    cursor: pointer;
    color: red;
}

